#wapper{
    width: 1000px;
}
.header{
    
}
img{
    height: 120px;
    width: 200px;
    background-color: #add8e6;
    float: left;
}

.header_right_top{
    height: 60px;
    width: 800px;
    background-color: #87ceed;
    float: right;
    line-height: 50px;
    text-align: right;
}
.header_right_bot{
    height: 60px;
    width: 800px;
    background-color: #00ffff;
    float: right;
    text-align: right;
    line-height: 50px;
}

table{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
th{
    background-color:#87ceeb;
}
td{
    background-color: #e0ffff;
}
.footer{
    height: 50px;
    width: 1000px;
    background-color: #00ced1;
    text-align: left;
}
